body{
    font-family: inherit;
    margin: 0;
}

.container{
    min-height: 400px;
    width: 55%;
    margin: auto;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 20px;
}

.my-form{
    background-color: white;
    border: 1px green solid;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 80px;
    margin-bottom: 5px;
    margin-bottom: 10px;

}
.my-form label{
    width: 120px;
    display: inline-block;
    padding-bottom: 10px;
}

